﻿@{
    ViewBag.Title = "BARCLAYS Dashboard";
    ViewBag.ExtraClasses = "fixed-sidebar fixed-navbar";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li class="active">
                        <span>Contact List</span>
                    </li>
                    <li>
                        <span><a href="@Url.Action("ContactCards", "Administration")">Contact Cards</a></span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Contact
            </h2>
            <small>Many panels design give you many possibilities.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        @*<a class="btn btn-primary"><i class="fa fa-plus"></i></a>*@
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    <i class="fa fa-user"></i>&nbsp;Contact List
                </div>
                <div class="panel-body">
                    <span class="pull-right"><a class="btn btn-primary" href="@Url.Action("NewClient", "Administration")"><i class="fa fa-plus"></i>&nbsp;New Contact</a></span>
                    <table class="table table-bordered table-striped" width="100%" id="datatable-ajax" data-url="/Administration/GetClients/">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Type</th>                               
                                <th>Contact Code</th>
                                <th>Status</th>
                                <th>Date Created</th>
                                <th>Last Update</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table> 
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script src="~/Scripts/Administration/Contacts.js"></script>
}
