﻿@model BARCLAYS.Models.ClientView

@{
    ViewBag.Title = "Contacts Cards";
    ViewBag.ExtraClasses = "fixed-sidebar fixed-navbar";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li class="active">
                        <span><a href="@Url.Action("Contacts", "Administration")">Contact List</a></span>
                    </li>
                    <li>
                        <span>Contact Cards</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Contact
            </h2>
            <small>Many panels design give you many possibilities.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <span class="pull-right"><a class="btn btn-primary" href="@Url.Action("NewClient", "Administration")"><i class="fa fa-plus"></i>&nbsp;New Contact</a></span>
    </div>
    
    <div class="row">
        @foreach (var i in Model.Contact)
        {
            <div class="col-lg-3">
                <div class="hpanel hyellow contact-panel">
                    <div class="panel-body">
                        <img alt="logo" class="img-circle m-b" src="~/Images/a4.jpg">
                        <h3><a href=""> @i.FullName </a></h3>
                        <div class="text-muted font-bold m-b-xs">California, LA</div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.
                        </p>
                    </div>
                    <div class="panel-footer contact-footer">
                        <div class="row">
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>Projects: </span> <strong>200</strong></div> </div>
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>Messages: </span> <strong>300</strong></div> </div>
                            <div class="col-md-4"> <div class="contact-stat"><span>Views: </span> <strong>400</strong></div> </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>
