﻿@{
    ViewBag.Title = "BARCLAYS Dashboard";
    ViewBag.ExtraClasses = "fixed-sidebar fixed-navbar hide-sidebar";
}

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <div class="hpanel">
                <div class="panel-body text-center">
                    <i class="fa fa-shopping-cart fa-4x"></i>

                    @*<h1 class="m-xs">$1 206,90</h1>*@

                    <h5 class="font-extra-bold no-margins text-success">
                        Shop
                    </h5>
                    @*<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>*@
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <div class="hpanel">
                <div class="panel-body text-center">
                    <i class="fa fa-folder fa-4x"></i>

                    @*<h1 class="m-xs">$1 206,90</h1>*@

                    <h5 class="font-extra-bold no-margins text-success">
                        Packages
                    </h5>
                    @*<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>*@
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <div class="hpanel">
                <div class="panel-body text-center">
                    <i class="fa fa-bullhorn fa-4x"></i>

                    @*<h1 class="m-xs">$1 206,90</h1>*@

                    <h5 class="font-extra-bold no-margins text-success">
                        Feedback
                    </h5>
                    @*<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>*@
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <div class="hpanel">
                <div class="panel-body text-center">
                    <i class="fa fa-comments-o fa-4x"></i>

                    @*<h1 class="m-xs">$1 206,90</h1>*@

                    <h5 class="font-extra-bold no-margins text-success">
                        BARCLAYS Rep
                    </h5>
                    @*<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>*@
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <div class="hpanel">
                <div class="panel-body text-center">
                    <i class="fa fa-ticket fa-4x"></i>

                    @*<h1 class="m-xs">$1 206,90</h1>*@

                    <h5 class="font-extra-bold no-margins text-success">
                        Tickets
                    </h5>
                    @*<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>*@
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <div class="hpanel">
                <div class="panel-body text-center">
                    <i class="fa fa-comment fa-4x"></i>

                    @*<h1 class="m-xs">$1 206,90</h1>*@

                    <h5 class="font-extra-bold no-margins text-success">
                        SMS
                    </h5>
                    @*<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>*@
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <div class="hpanel">
                <div class="panel-body text-center">
                    <i class="fa fa-music fa-4x"></i>

                    @*<h1 class="m-xs">$1 206,90</h1>*@

                    <h5 class="font-extra-bold no-margins text-success">
                        CBRT Tunes
                    </h5>
                    @*<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>*@
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <div class="hpanel">
                <div class="panel-body text-center">
                    <i class="fa fa-money fa-4x"></i>

                    @*<h1 class="m-xs">$1 206,90</h1>*@

                    <h5 class="font-extra-bold no-margins text-success">
                        Invoices
                    </h5>
                    @*<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>*@
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
            <div class="hpanel">
                <div class="panel-body text-center">
                    <i class="fa fa-user fa-4x"></i>

                    @*<h1 class="m-xs">$1 206,90</h1>*@

                    <h5 class="font-extra-bold no-margins text-success">
                        My Account
                    </h5>
                    @*<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit vestibulum.</small>*@
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/flot/js")

    <script type="text/javascript">

            $(function () {

                /**
                 * Flot charts data and options
                 */
                var data1 = [ [0, 55], [1, 48], [2, 40], [3, 36], [4, 40], [5, 60], [6, 50], [7, 51] ];
                var data2 = [ [0, 56], [1, 49], [2, 41], [3, 38], [4, 46], [5, 67], [6, 57], [7, 59] ];

                var chartUsersOptions = {
                    series: {
                        splines: {
                            show: true,
                            tension: 0.4,
                            lineWidth: 1,
                            fill: 0.4
                        },
                    },
                    grid: {
                        tickColor: "#f0f0f0",
                        borderWidth: 1,
                        borderColor: 'f0f0f0',
                        color: '#6a6c6f'
                    },
                    colors: [ "#de2275", "#efefef"],
                };

                $.plot($("#flot-line-chart"), [data1, data2], chartUsersOptions);

                /**
                 * Flot charts 2 data and options
                 */
                var chartIncomeData = [
                    {
                        label: "line",
                        data: [ [1, 10], [2, 26], [3, 16], [4, 36], [5, 32], [6, 51] ]
                    }
                ];

                var chartIncomeOptions = {
                    series: {
                        lines: {
                            show: true,
                            lineWidth: 0,
                            fill: true,
                            fillColor: "#64cc34"

                        }
                    },
                    colors: ["#de2275"],
                    grid: {
                        show: false
                    },
                    legend: {
                        show: false
                    }
                };

                $.plot($("#flot-income-chart"), chartIncomeData, chartIncomeOptions);


        });
    </script>
}
