﻿@model  BARCLAYS.Models.ClientView

@{
    ViewBag.Title = "BARCLAYS Dashboard";
    ViewBag.ExtraClasses = "fixed-sidebar fixed-navbar";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li class="active">
                        <span><a href="@Url.Action("Clients", "Administration")">Contact List</a></span>
                    </li>
                    <li>
                        <span><a href="@Url.Action("ClientCards", "Administration")">Contact Cards</a></span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Contact
            </h2>
            <small>Many panels design give you many possibilities.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        @*<a class="btn btn-primary"><i class="fa fa-plus"></i></a>*@
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    <i class="fa fa-user"></i>&nbsp;New Contact
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="@Url.Action("AddAClient","Administration")" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contact Type</label>
                            <div class="col-sm-10">
                                <fieldset>
                                    @foreach (var i in Model.ClientType)
                                    {
                                        <div class="radio radio-primary radio-inline">
                                            <input type="radio" id="radio_@i.Id" value="@i.Id" data-attr="@i.Type" name="radioInline" class="ctype">
                                            <label for="inlineRadio1"> @i.Type </label>
                                        </div>
                                    }
                                </fieldset>                      
                             </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label personal">First Name</label>
                            <div class="col-sm-4"><input class="form-control personal" type="text" name="FirstName"></div>
                            <label class="col-sm-2 control-label corperate">Company Name</label>
                            <div class="col-sm-4"><input class="form-control corperate" type="text" name="CompanyName"></div>
                        </div> 
                        <div class="form-group">
                            <label class="col-sm-2 control-label personal">Last Name</label>
                            <div class="col-sm-4"><input class="form-control personal" type="text" name="LastName"></div>
                            <label class="col-sm-2 control-label corperate">Comp. Fax</label>
                            <div class="col-sm-4"><input class="form-control corperate" type="text" name="CompanyFax"></div>
                        </div>  
                        <div class="form-group">
                            <label class="col-sm-2 control-label personal">Email</label>
                            <div class="col-sm-4"><input class="form-control personal" type="text" name="Email"></div>
                            <label class="col-sm-2 control-label corperate">Company Email</label>
                            <div class="col-sm-4"><input class="form-control corperate" type="text" name="CompanyEmail"></div>
                        </div> 
                        <div class="form-group">
                            <label class="col-sm-2 control-label personal">Address</label>
                            <div class="col-sm-4"><input class="form-control personal" type="text" name="Address"></div>
                            <label class="col-sm-2 control-label corperate">Company Address</label>
                            <div class="col-sm-4"><input class="form-control corperate" type="text" name="CompanyAddress"></div>
                        </div>  
                        <div class="form-group">
                            <label class="col-sm-2 control-label personal">Phone Number</label>
                            <div class="col-sm-4"><input class="form-control personal" type="text" name="PhoneNumber"></div>
                            <label class="col-sm-2 control-label corperate">Company Phone</label>
                            <div class="col-sm-4"><input class="form-control corperate" type="text" name="CompanyPhone"></div>
                        </div>  
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mobile Number</label>
                            <div class="col-sm-4"><input class="form-control personal" type="text" name="MobileNumber"></div>
                            <label class="col-sm-2 control-label">VAT</label>
                            <div class="col-sm-4"><input class="form-control corperate" type="text" name="CompanyVAT"></div>
                        </div> 
                        <div class="form-group">
                            <label class="col-sm-2 control-label personal">DOB</label>
                            <div class="col-sm-4"><input id="dob" type="text" value="02-16-2012" class="form-control datapicker personal" name="DOB"></div>
                            <label class="col-sm-2 control-label corperate">Date of Incorp.</label>
                            <div class="col-sm-4"><input id="dateOfIncorp" type="text" value="02-16-2012" class="form-control datapicker corperate" name="CompanyDateStarted"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label personal">NID</label>
                            <div class="col-sm-4"><input class="form-control personal" type="text" name="NIDNumber"></div>
                            <label class="col-sm-2 control-label corperate">Company Reg. Number</label>
                            <div class="col-sm-4"><input class="form-control corperate" type="text" name="CompanyRegistrationNumber"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Passport Number</label>
                            <div class="col-sm-4"><input class="form-control personal" type="text" name="PassportNumber"></div>
                            <label class="col-sm-2 control-label">BRN</label>
                            <div class="col-sm-4"><input class="form-control" type="text" name="CompanyBRN"></div>
                        </div>  
                        <div class="form-group">
                            @*<label class="col-sm-2 control-label">Next Of Kin</label>
                            <div class="col-sm-4"><input class="form-control personal" type="text" name="NextOFKin"></div>*@
                            <label class="col-sm-2 control-label">Company Website</label>
                            <div class="col-sm-4"><input class="form-control corperate" type="text" name="CompanyWebsite" value="http://"></div>
                        </div>  
                                         
                        @*<div class="form-group">
                            <label class="col-sm-2 control-label">Help text</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text"> <span class="help-block m-b-none">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                            </div>
                        </div>*@                       
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Upload</label>
                            <div class="col-sm-10"><input type="file" name="files"></div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button class="btn btn-danger" type="button" onclick="window.location.href='@Url.Action("Contacts","Administration")'"><i class="fa fa-times-circle"></i>&nbsp;Cancel</button>
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i>&nbsp;Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/bundles/xeditable/css")
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/touchspin/css")
    @Styles.Render("~/bundles/datepicker/css")
    @Styles.Render("~/bundles/bootstrapCheckbox/css")
    @Styles.Render("~/bundles/datetimepicker/css")
    @Styles.Render("~/bundles/clockpicker/css")

    <link href="~/Scripts/New Filer/jquery.fileuploader.css" media="all" rel="stylesheet">
    <link href="~/Scripts/New Filer/css/jquery.fileuploader-theme-thumbnails.css" media="all" rel="stylesheet">
}

@section Scripts {
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    @Scripts.Render("~/bundles/moment/js")
    @Scripts.Render("~/bundles/xeditable/js")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/touchspin/js")
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datetimepicker/js")
    @Scripts.Render("~/bundles/clockpicker/js")
    <script src="~/Scripts/New Filer/jquery.fileuploader.min.js"></script>
    <script src="~/Scripts/New Filer/js/custom.js"></script>
    <script src="~/Scripts/Administration/Contacts.js"></script>
}
