﻿@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Login";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <img src="~/Content/img/ui-topfm.png" alt="BARCLAYS" /><br />
                <small>Use only valid MTML BARCLAYS numbers. </small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form action="#" id="loginForm">
                        <div class="row">
                            <div class="form-group col-lg-12">
                                <label>Phone Number</label>
                                <input type="number" value="" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Email Address</label>
                                <input type="email" value="" id="" class="form-control" name="">
                            </div>
                            <div class="form-group col-lg-12">
                                <label>Password</label>
                                <input type="password" value="" id="" class="form-control" name="">
                            </div>
                            @*<div class="form-group col-lg-6">
                                <label>Repeat Password</label>
                                <input type="password" value="" id="" class="form-control" name="">
                            </div>*@                            
                            @*<div class="form-group col-lg-6">
                                <label>Repeat Email Address</label>
                                <input type="" value="" id="" class="form-control" name="">
                            </div>*@
                            @*<div class="checkbox col-lg-12">
                                <div class="icheckbox_square-green checked" style="position: relative;"><input type="checkbox" class="i-checks" checked="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
                                Sigh up for our newsletter
                            </div>*@
                        </div>
                        <div class="text-center">
                            <button class="btn btn-BARCLAYS"><i class="fa fa-user-plus"></i>&nbsp;Register</button>
                            <button class="btn btn-noir" type="button" onclick="window.location='@Url.Action("Login","Account")'"><i class="fa fa-sign-in"></i>&nbsp;Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            @DateTime.Now.Year Copyright Infini Tech Limited
        </div>
    </div>
</div>
