﻿@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Login";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12" style="color:white;">
            <div class="text-center m-b-md">
                <img src="~/Content/img/barclaysmall.png" width="320" height="100" alt="BARCLAYS" />
                @*<small>BARCLAYS PM</small>*@
            </div>
            <div class="col-md-6">
                <div class="hpanel barclays">
                    <div class="panel-body text-center">
                        <a href="#"><i class="fa fa-plus-square-o fa-4x"></i></a>                       
                    </div> 
                    <div class="panel-footer text-center">
                        <i style="color:#00395c">New Application</i>
                    </div>                  
                </div>
            </div>
            <div class="col-md-6">
                <div class="hpanel barclays">
                    <div class="panel-body text-center">
                        <a href="#"><i class="fa fa-folder-open-o fa-4x"></i></a>
                    </div>  
                    <div class="panel-footer text-center">
                        <i style="color:#00395c">Existing Application</i>
                    </div>                  
                </div>
            </div>
            
        </div>
    </div>
    @*<div class="row">
        <div class="col-md-12 text-center">
            @DateTime.Now.Year Copyright Infini Tech Limited
        </div>
    </div>*@
</div>
