﻿@model InfiniEtimDev.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_EtimAdminDashboardLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="widget ">
                <div class="widget-header">
                    <h3><i class="fa fa-key"></i>&nbsp;Password</h3>
                </div> <!-- /widget-header -->
                <div class="widget-content">
                    <!--content here-->
                    <br />
                    <div class="col-md-6 col-md-offset-3">
                        <div class="widget ">
                            <div class="widget-header">
                                <h3><i class="fa fa-key"></i>&nbsp;Change Password</h3>
                            </div> <!-- /widget-header -->
                            <div class="widget-content">

                                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-9 col-md-offset-4">
                                            <button value="Save" type="submit" class="btn btn-primary col-md-9"><i class="fa fa-unlock-alt"></i>&nbsp;Change Password</button>
                                        </div>
                                    </div>
                                }
                                @section Scripts {
                                    @Scripts.Render("~/bundles/jqueryval")
                                }
                            </div>
                        </div>
                    </div>
                </div> <!-- /widget-content test-->
            </div> <!-- /widget -->
        </div> <!-- /span8 -->
    </div> <!-- /row -->
    <div id="BillModal" class="emitModal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
</div>
