﻿@using BARCLAYS.Models;
@using BARCLAYS.Controllers;
@using System.Globalization;

@{ 
    AdministrationController ac = new AdministrationController();
    ApplicationDbContext db = new ApplicationDbContext();

    string fn, ln, ffn = "";
    string roles = "";
    if (User.Identity.IsAuthenticated)
    {
        BARCLAYS.Models.Utilities lu = new BARCLAYS.Models.Utilities();
        fn = lu.GetUser(User)?.FirstName;
        ln = lu.GetUser(User)?.LastName;
        ffn = $"{fn} {ln}";

        var allRoles = db.Roles.ToList();
        lu.GetUser(User).Roles.ToList().ForEach(r =>
        {
            roles += allRoles.Where(rr => rr.Id == r.RoleId).FirstOrDefault().Name + ", ";
        });
    }
    else
    {

    }
}

<div id="navigation">
    <div class="profile-picture">
        <a href="@Url.Action("Index", "Dashboard")">
            <img src="~/Images/profile.jpg" class="img-circle m-b" alt="logo">
        </a>

        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">@ffn</span>

            <div class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <small class="text-muted">@roles <b class="caret"></b></small>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a href="contacts.html">Contacts</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="analytics.html">Analytics</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </div>
            <div id="sparkline1" class="small-chart m-t-sm"></div>
            <div>
                <h4 class="font-extra-bold m-b-xs">
                    $260 104,200
                </h4>
                <small class="text-muted">Your income from the last year in sales product X.</small>
            </div>
        </div>
    </div>

    <ul class="nav metismenu" id="side-menu">
        <li class="@Html.IsSelected(controller: "Administration")">
            <a href="#"><span class="nav-label"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Administration")"><i class="fa fa-dashboard"></i>&nbsp;Dashboard</a></li>
                <li class="@Html.IsSelected(action: "Analytics")"><a href="@Url.Action("Analytics", "Administration")"><i class="fa fa-line-chart"></i>&nbsp;Analytics</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller: "Administration")">
            <a href="#"><span class="nav-label"><i class="fa fa-list-ul"></i>&nbsp;Masters</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "Clients")">
                    <a href="#"><span class="nav-label"><i class="fa fa-user"></i>&nbsp;Clients</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("ClientSectors", "Administration")"><i class="fa fa-group"></i>&nbsp;Sectors</a></li>
                        <li class="@Html.IsSelected(action: "Analytics")"><a href="@Url.Action("ClientCategory", "Administration")"><i class="fa fa-group"></i>&nbsp;Category</a></li>
                        <li class="@Html.IsSelected(action: "Analytics")"><a href="@Url.Action("Clients", "Administration")"><i class="fa fa-user"></i>&nbsp;Clients</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(action: "BillUnit")"><a href="@Url.Action("Agents", "Administration")"><i class="fa fa-user"></i>&nbsp;Agents</a></li>
                <li class="@Html.IsSelected(action: "BillCode")"><a href="@Url.Action("Users", "Administration")"><i class="fa fa-user"></i>&nbsp;Users</a></li>
                <li class="@Html.IsSelected(action: "BillCode")"><a href="@Url.Action("Users", "Administration")"><i class="fa fa-money"></i>&nbsp;Rate Cards</a></li>
                <li class="@Html.IsSelected(action: "Assets")">
                    <a href="#"><span class="nav-label"><i class="fa fa-car"></i>&nbsp;Assets</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "Analytics")"><a href="@Url.Action("Clients", "Administration")"><i class="fa fa-user"></i>&nbsp;Assets</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(action: "Assets")">
                    <a href="#"><span class="nav-label"><i class="fa fa-clock-o"></i>&nbsp;Spots</span><span class="fa arrow"></span> </a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "Analytics")"><a href="@Url.Action("ClientCategory", "Administration")"><i class="fa fa-group"></i>&nbsp;Spot Length</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(action: "Components")">
                    <a href="#"><span class="nav-label"><i class="fa fa-user"></i>&nbsp;Users</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "ChartJs")"><a href="@Url.Action("ChartJs", "Charts")"><i class="fa fa-users"></i>&nbsp;Department</a></li>
                        <li class="@Html.IsSelected(action: "FlotCharts")"><a href="@Url.Action("FlotCharts", "Charts")"><i class="fa fa-users"></i>&nbsp;Groups</a></li>
                        <li class="@Html.IsSelected(action: "InlineGraphs")"><a href="@Url.Action("InlineGraphs", "Charts")"><i class="fa fa-user"></i>&nbsp;Employees</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(action: "Components")">
                    <a href="#"><span class="nav-label"><i class="fa fa-user"></i>&nbsp;Client</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "FlotCharts")"><a href="@Url.Action("FlotCharts", "Charts")"><i class="fa fa-users"></i>&nbsp;Groups</a></li>
                        <li class="@Html.IsSelected(action: "InlineGraphs")"><a href="@Url.Action("InlineGraphs", "Charts")"><i class="fa fa-user"></i>&nbsp;Clients</a></li>
                    </ul>
                </li>

                <li class="@Html.IsSelected(action: "Alerts")"><a href="@Url.Action("Alerts", "Interface")"><i class="fa fa-money"></i>&nbsp;Expense Types</a></li>
                <li class="@Html.IsSelected(action: "Modals")"><a href="@Url.Action("Modals", "Interface")"><i class="fa fa-file-word-o"></i>&nbsp;Proposals</a></li>
                <li class="@Html.IsSelected(action: "LoadingButtons")"><a href="@Url.Action("LoadingButtons", "Interface")"><i class="fa fa-file-word-o"></i>&nbsp;Contracts</a></li>
                <li class="@Html.IsSelected(action: "DraggablePanels")"><a href="@Url.Action("DraggablePanels", "Interface")"><i class="fa fa-money"></i>&nbsp;Leave Types</a></li>
                <li class="@Html.IsSelected(action: "CodeEditor")"><a href="@Url.Action("CodeEditor", "Interface")"><i class="fa fa-exclamation"></i>&nbsp;Priority Types</a></li>
                <li class="@Html.IsSelected(action: "EmailTemplate")"><a href="@Url.Action("EmailTemplate", "Interface")"><i class="fa fa-calendar-times-o"></i>&nbsp;Meeting/Minutes</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller: "AppViews")">
            <a href="#"><span class="nav-label"><i class="fa fa-briefcase"></i>&nbsp;Projects</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "Projects")"><a href="@Url.Action("Projects", "AppViews")"><i class="fa fa-briefcase"></i>&nbsp;Projects</a></li>
                <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Contacts", "AppViews")"><i class="fa fa-tasks"></i>&nbsp;Tasks</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller: "AppViews")">
            <a href="#"><span class="nav-label"><i class="fa fa-tasks"></i>&nbsp;Tasks</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Contacts", "AppViews")"><i class="fa fa-tasks"></i>&nbsp;Tasks</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller: "AppViews")">
            <a href="#"><span class="nav-label"><i class="fa fa-tasks"></i>&nbsp;Reports</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Contacts", "AppViews")"><i class="fa fa-user"></i>&nbsp;Employee</a></li>
                <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Contacts", "AppViews")"><i class="fa fa-user"></i>&nbsp;Employee Usage</a></li>
                <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Contacts", "AppViews")"><i class="fa fa-user"></i>&nbsp;Client</a></li>
                <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Contacts", "AppViews")"><i class="fa fa-file-o"></i>&nbsp;Invoice</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller: "AppViews")">
            <a href="#"><span class="nav-label"><i class="fa fa-calendar"></i>&nbsp;Timesheet</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(controller: "Widgets")">
                    <a href="@Url.Action("Index", "Widgets")"> <span class="nav-label"><i class="fa fa-calendar"></i>&nbsp;Calendar Entry</span></a>
                </li>
                <li class="@Html.IsSelected(controller: "Widgets")">
                    <a href="@Url.Action("Index", "Widgets")"> <span class="nav-label"><i class="fa fa-clock-o"></i>&nbsp;Timer</span></a>
                </li>
                <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Contacts", "AppViews")"><i class="fa fa-table"></i>&nbsp;Spreadsheet</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller: "AppViews")">
            <a href="#"><span class="nav-label"><i class="fa fa-cogs"></i>&nbsp;Settings</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "Components")">
                    <a href="#"><span class="nav-label"><i class="fa fa-wrench"></i>&nbsp;Configurations</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "ChartJs")"><a href="@Url.Action("ChartJs", "Charts")"><i class="fa fa-building"></i>&nbsp;Company Details</a></li>
                        <li class="@Html.IsSelected(action: "FlotCharts")"><a href="@Url.Action("FlotCharts", "Charts")"><i class="fa fa-cog"></i>&nbsp;Global Settings</a></li>
                        <li class="@Html.IsSelected(action: "InlineGraphs")"><a href="@Url.Action("InlineGraphs", "Charts")"><i class="fa fa-money"></i>&nbsp;Currency</a></li>
                        <li class="@Html.IsSelected(action: "InlineGraphs")"><a href="@Url.Action("InlineGraphs", "Charts")"><i class="fa fa-money"></i>&nbsp;Approval Process</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(action: "Components")">
                    <a href="#"><span class="nav-label"><i class="fa fa-cog"></i>&nbsp;Settings</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="@Html.IsSelected(action: "FlotCharts")"><a href="@Url.Action("FlotCharts", "Charts")"><i class="fa fa-exclamation-circle"></i>&nbsp;Logs</a></li>
                        <li class="@Html.IsSelected(action: "FlotCharts")"><a href="@Url.Action("FlotCharts", "Charts")"><i class="fa fa-exclamation-triangle"></i>&nbsp;Audits</a></li>
                        <li class="@Html.IsSelected(action: "InlineGraphs")"><a href="@Url.Action("InlineGraphs", "Charts")"><i class="fa fa-user"></i>&nbsp;Exceptions</a></li>
                    </ul>
                </li>
                <li class="@Html.IsSelected(action: "Contacts")"><a href="@Url.Action("Contacts", "AppViews")"><i class="fa fa-question-circle"></i>&nbsp;Help</a></li>
            </ul>
        </li>
    </ul>
</div>