﻿@{
    ViewBag.Title = "InlineGraphs";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li>
                        <span>Charts</span>
                    </li>
                    <li class="active">
                        <span>Inline charts </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Inline charts
            </h2>
            <small>Small inline charts directly in the browser using data supplied in scripts.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Sparkline charts
                </div>
                <div class="panel-body">

                    <p>
                        This jQuery plugin generates sparklines (small inline charts) directly in the browser using data supplied either inline in the HTML
                    </p>
                    <table class="table table-bordered white-bg">
                        <thead>
                            <tr>
                                <th>Graph</th>
                                <th>Type</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <span id="sparkline7"></span>
                                </td>
                                <td>
                                    Inline line chart
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="sparkline2"></span>
                                </td>
                                <td>
                                    Bar chart
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="sparkline3"></span>
                                </td>
                                <td>
                                    Pie chart
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="sparkline4"></span>
                                </td>
                                <td>
                                    Long inline chart
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="sparkline5"></span>
                                </td>
                                <td>
                                    Tristate chart
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="sparkline6"></span>
                                </td>
                                <td>
                                    Discrete chart
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Peity charts
                </div>
                <div class="panel-body">

                    <p>
                        Peity is a simple jQuery plugin that converts an element's content into a simple svg mini pie donut line or bar chart and is compatible with any browser that supports svg: Chrome, Firefox, IE9+, Opera, Safari.
                    </p>
                    <table class="table table-bordered white-bg">
                        <thead>
                            <tr>
                                <th>Graph</th>
                                <th>Type</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <span class="pie">1/5</span>
                                </td>
                                <td>
                                    Pie chart
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                </td>
                                <td>
                                    Line chart
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                </td>
                                <td>
                                    Bar chart
                                </td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script type="text/javascript">

        $(function () {

            $("#sparkline7").sparkline([34, 43, 43, 35, 44, 32, 44, 52, 25], {
                type: 'line',
                lineColor: '#54ab2c',
                fillColor: '#de2275  ',
            });
            $("#sparkline2").sparkline([5, 6, 7, 2, 0, -4, -2, 4], {
                type: 'bar',
                barColor: '#de2275  ',
                negBarColor: '#c6c6c6'
            });

            $("#sparkline3").sparkline([1, 1, 2], {
                type: 'pie',
                sliceColors: ['#de2275  ', '#b3b3b3', '#e4f0fb']
            });

            $("#sparkline4").sparkline([34, 43, 43, 35, 44, 32, 15, 22, 46, 33, 86, 54, 73, 53, 12, 53, 23, 65, 23, 63, 53, 42, 34, 56, 76, 15, 54, 23, 44], {
                type: 'line',
                lineColor: '#de2275  ',
                fillColor: '#ffffff',
            });

            $("#sparkline5").sparkline([1, 1, 0, 1, -1, -1, 1, -1, 0, 0, 1, 1], {
                type: 'tristate',
                posBarColor: '#de2275  ',
                negBarColor: '#bfbfbf'
            });


            $("#sparkline6").sparkline([4, 6, 7, 7, 4, 3, 2, 1, 4, 4, 5, 6, 3, 4, 5, 8, 7, 6, 9, 3, 2, 4, 1, 5, 6, 4, 3, 7, ], {
                type: 'discrete',
                lineColor: '#de2275  '
            });

        })
    </script>
}